

.header{
    border-top: 2px solid #000000;
    padding: 1rem 0 0.8rem 0;
}

.header span{
    display: inline-flex;
    align-items: center;
}

.header span:nth-of-type(2){
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 0 0.25rem 0 0.25rem !important;
}

#designation{
    display: flex;
    column-gap: 0.25rem;
}

h1,h2,p,ul,h3{
    margin:0;
}

h1{
    margin-bottom: 1.25rem;
}

h2,h3{
    margin-bottom: 1rem;
}


.about{
    padding: 1rem 0 0.8rem 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.skills{
    padding: 1rem 0 0.8rem 0;
    border-bottom: 1px solid #000000;
}

.skills ul{
    margin-left: 22px;
}

.experience, .education{
        padding: 1rem 0 0.5rem 0;
    border-bottom: 1px solid #000000;
}

table,th,td{
    border: 1px solid #000000;
}

table{
        border-collapse: separate;
    border-spacing: 3px 5px;
}

th,td{
    padding: 3px;
}

.projects, .contact{
            padding: 1rem 0 0.8rem 0;
    border-bottom: 1px solid #000000;
}

.projects p{
    margin-bottom: 1rem;
}

.project-list{
    padding:0;
        display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project-list ul{
    list-style: disc;
    padding-left: 60px;

}

.contact-details{
        list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span{
    font-weight: 600;
}

footer{
    padding: 0.8rem 0;
}